<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/style/styles.css">

  </head>

  <body>
<%- include('partials/header'); -%>
    <div class="box" id="heading">
      <h1>
        <%= day %>
      </h1>
    </div>

    <form class="" action="index.html" method="post">
      <a class="btn btn-primary" href="/" role="button">Runs</a>
      <a class="btn btn-primary" href="/foods" role="button">Foods</a>
      <a class="btn btn-primary active" href="/other" role="button" aria-pressed="true">Other</a>
    </form>

    <div class="box2">
      <% lists.forEach(function(list){ %>

        <%if (list.name === "other"){%>
          <form class="" action="/delete" method="post">
            <div class="items">
              <input type="checkbox" name="checkbox" value="<%= list._id%>" onchange="this.form.submit()">
              <p><%= list.items[0].name %></p>
            </div>
          </form>
        <%}%>

        <% }) %>

          <form class="items" action="/other" method="post">
            <input type="text" name="newItem" placeholder="Other Item">
            <button class="btn btn-secondary"type="submit" name="button">Add</button>
          </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </body>

    </html>
